{% autoescape false %}
    {% set kbdTagOpen = '<kbd class="px-1 text-xs font-semibold text-gray-800 bg-gray-100 border border-gray-200 rounded-lg">' %}
    {% set kdbTagClose = '</kbd>' %}
    <p class="mb-3">
        {% set numberOfDaysAgo = kbdTagOpen ~ introFull.getTotalDaysSinceFirstActivity() ~ kdbTagClose %}
        {% set startDate = '<span class="text-sm">' ~ introFull.getStartDate()|formatDate('normal') ~ '</span>' %}
        {% set totalDaysOfWorkingOut = kbdTagOpen ~ introFull.getTotalDaysOfWorkingOut() ~ kdbTagClose %}
        {% trans with {'{numberOfDaysAgo}': numberOfDaysAgo, '{startDate}': startDate, '{totalDaysOfWorkingOut}': totalDaysOfWorkingOut} %}
            Since I began using Strava {numberOfDaysAgo} ago on {startDate}, I've logged {totalDaysOfWorkingOut} active days of training and adventure.
        {% endtrans %}
    </p>
    <p class="mb-3">
        {% set convertedIntroDistance = introRecent.getDistance()|convertMeasurement %}
        {% set convertedIntroElevation = introRecent.getElevation()|convertMeasurement %}
        {% set totalDistance = kbdTagOpen ~ convertedIntroDistance.toFloat()|formatNumber(0) ~ ' ' ~ convertedIntroDistance.getSymbol() ~ kdbTagClose %}
        {% set numberOfTripsAroundTheWorld = kbdTagOpen ~ (introRecent.getDistance().toFloat() / 40075)|formatNumber(2) ~ kdbTagClose %}
        {% set numberOfTripsToTheMoonPercent = kbdTagOpen ~ (introRecent.getDistance().toFloat() / 384400 * 100)|formatNumber(1) ~ kdbTagClose %}
        {% set totalElevation = kbdTagOpen ~ convertedIntroElevation.toFloat()|formatNumber(0) ~ ' ' ~ convertedIntroElevation.getSymbol() ~ kdbTagClose %}
        {% set timesMountEverest = kbdTagOpen ~ (introRecent.getElevation().toFloat() / 8849)|formatNumber(1) ~ kdbTagClose %}
        {% set totalTimeRecorded = kbdTagOpen ~ introRecent.getMovingTimeFormatted() ~ kdbTagClose %}
        {% trans with {
            '{totalDistance}': totalDistance,
            '{numberOfTripsAroundTheWorld}': numberOfTripsAroundTheWorld,
            '{numberOfTripsToTheMoonPercent}': numberOfTripsToTheMoonPercent,
            '{totalElevation}': totalElevation,
            '{timesMountEverest}': timesMountEverest,
            '{totalTimeRecorded}': totalTimeRecorded
        } %}
            In the past 5 years, I’ve covered {totalDistance}, that's {numberOfTripsAroundTheWorld} trips around the world 🌍 or {numberOfTripsToTheMoonPercent}% of the way to the moon 🌕, and climbed an elevation of {totalElevation} which is {timesMountEverest} times Mount Everest 🏔. All up that's {totalTimeRecorded} of moving time 🎉.
        {% endtrans %}
    </p>
    <p>
        {% set convertedDailyAverage = introRecent.getDailyAverage()|convertMeasurement %}
        {% set convertedWeeklyAverage = introRecent.getWeeklyAverage()|convertMeasurement %}
        {% set convertedMonthlyAverage = introRecent.getMonthlyAverage()|convertMeasurement %}
        {% set dailyAverage = kbdTagOpen ~ convertedDailyAverage.toFloat()|formatNumber(0) ~ ' ' ~ convertedDailyAverage.getSymbol() ~ kdbTagClose %}
        {% set weeklyAverage = kbdTagOpen ~ convertedWeeklyAverage.toFloat()|formatNumber(0) ~ ' ' ~ convertedWeeklyAverage.getSymbol() ~ kdbTagClose %}
        {% set monthlyAverage = kbdTagOpen ~ convertedMonthlyAverage.toFloat()|formatNumber(0) ~ ' ' ~ convertedMonthlyAverage.getSymbol() ~ kdbTagClose %}
        {% trans with {'{dailyAverage}': dailyAverage, '{weeklyAverage}': weeklyAverage, '{monthlyAverage}': monthlyAverage} %}
            On average, that works out to {dailyAverage} per day, a weekly average of {weeklyAverage} and a monthly average of {monthlyAverage} 🐣.
        {% endtrans %}
    </p>
    <p>
        {% set caloriesBurned = kbdTagOpen ~ introRecent.getCalories()|formatNumber(0) ~ kdbTagClose %}
        {% set numberOfPizzaSlices = kbdTagOpen ~ (introRecent.getCalories() / 270)|formatNumber(0) ~ kdbTagClose %}
        {% trans with {'{caloriesBurned}': caloriesBurned, '{numberOfPizzaSlices}': numberOfPizzaSlices} %}
            Powered by an estimated {caloriesBurned} calories, or roughly {numberOfPizzaSlices} slices of pizza 🍕.
        {% endtrans %}
    </p>
{% endautoescape %}
