{% autoescape false %}
    <div class="flex items-center justify-between mb-4">
        <h3 class="text-lg font-semibold">{{ "Training Load Analysis (6 week history)"|trans }}</h3>
    </div>
    <div class="h-120 w-full mb-4" data-echarts-options='{{ trainingLoadChart }}'></div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
        {% include 'html/dashboard/training-metrics.html.twig' with {
            'trainingMetrics': trainingMetrics,
            'timeInHeartRateZonesForLast30Days': timeInHeartRateZonesForLast30Days,
            'context': 'modal'
        } %}
    </div>
{% endautoescape %}